<h1>Welcome to Ask me!</h1>
<h2>No hay preguntas tontas, solo tontos que preguntan!</h2>


<div class="container">
    <div class="row justify-content-center align-items-center minh-100">
            <div class="col-lg-12"

                <div class="container">
                    <div class="col">
                        <div class="col text-center">
                            <button type="submit" name="login" class="btn"><a href="/login">Login</a></button>
                            <button type="submit" name="signup" class="btn"><a href="/signup">Sign up!</a></button>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>
