<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ask me</title>

</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-dark">
      
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/">Home</a>
          <a class="nav-item nav-link active" href="/preguntas-coding">Coding</a>
          <a class="nav-item nav-link active" href="/preguntas-business">Business</a>
          <a class="nav-item nav-link active" href="/preguntas-other">Others</a>
          <a class="nav-item nav-link active" href="/preguntas-all">All</a>
          
        </div>
      </div>
  </nav>

  {{{body}}}

  <footer>

     <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2019 All Rights Reserved by 
            <a href="#">Ironhack</a>.
            </p>
          </div>

        </div>
      </div>

</footer>
    
  </footer>


  <script src="/javascripts/script.js"></script>
</body>
</html>